body {

    margin:0;

    overflow:hidden;

    background:transparent;

    font-family:"Microsoft YaHei";

}


/* 左下角圆按钮 */

#circle {


    position:absolute;


    left:20px;

    bottom:20px;


    width:65px;

    height:65px;


    border-radius:50%;


    border:none;


    background:rgba(0,0,0,0.45);


    color:white;


    font-size:52px;

    font-weight:bold;

    line-height:58px;

    cursor:pointer;


}



/* 菜单 */

#menu {


    position:absolute;


    left:20px;

    bottom:95px;


    display:none;


    flex-direction:column;


    gap:10px;


}



#menu button {


    width:160px;

    height:55px;


    border:none;


    border-radius:30px;


    background:rgba(0,0,0,0.65);


    color:white;


    font-size:18px;


}


#menu button:hover {


    background:#1677ff;

}